


{% extends 'base.html.twig' %}


     {% block contentheader %}
         <section class="content-header">
             <h1>
                 Modifier utilisateurs

             </h1>
             <ol class="breadcrumb">
                 <li><a href=""><i class="fa fa-dashboard"></i> Accueil</a></li>
                 <li class="active">Modifier utilisateur </li>
             </ol>
         </section> 

     {% endblock %}

{% block Maincontent %}
    <div align="center">
<div class="col-sm-9 col-sm-offset-1  col-md-6 col-md-offset-3" style="background-color:#dde7ff;">
    {{ form_start(edit_form) }}

    {{ form_widget(edit_form) }}
    <br/>
    <div align="center">
        <input type="submit"  class="btn btn-info btn-sm" value="Modifier"  />
    </div>
    {{ form_end(edit_form) }}
</div>

        {% endblock %}